.headRow{
    margin-right: 40px;
    background-color:black ;
    color: white;
   
}
table th {
    padding-right: 80px;
    border: solid black 40px;
}
.loremimage{
    
    padding: 100px;
}
table{
    border: solid grey 1px;
}
.dataCenter{
  
   
    text-align: center
  
}
.greyData{
    background-color:ivory ;
}